.center {
  background-color: rgb(105, 79, 129);
  margin: 100px;
  padding: 30px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid rgb(60, 45, 75);
}

.align-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-alinear {
  display: flex;
  justify-content: center;
}

.up {
  background-color: rgb(148, 201, 94);
  height: 100px;
  display: flex;
}

.down {
  background-color: rgb(148, 201, 94);
  height: 75px;
  display: flex;
  justify-content: space-around;
}
body {
  margin: 0;
}
